body {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #fdfcff;
    background-color: #202021;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23949199' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#game-container {
    margin-top: 5rem;
}

#gameCanvas {
    margin: auto;
}

#gameTitle {
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
    display: inline;
    color: hotpink;
    font-family: 'Oooh Baby', cursive;
    font-size: 50px;
}

#title {
    text-shadow: 4px 4px 25px #f1f0f0;
}
